.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-right: 0.25rem; /* Margin right for RTL instead of left */
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}
